*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    min-height: 100vh;
    background-color: antiquewhite;
}

.container{
    position: relative;
    max-width: 1350px;
    width: 100%;
    padding: 20px;
    margin: 50px auto;
    background-color: bisque;
}

.filter_button{
    display: flex;
    align-items: center;
    gap: 1;
    flex-wrap: wrap;
}

.button{
    padding: 10px;
    font-size: 18px;
    background: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

button.active{
    background: burlywood;
    color: brown;
    font-weight: 500;
}

.filterable_cards{
    display: flex;
    margin-top: 25px;
    gap: 20px;
    flex-wrap: wrap;
}

.card{
    flex-basis: 300px;
    background-color: #fff;
    padding: 3px;
    border-radius: 8px;
}

.card img{
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 8px 8px 0 0 ;
}

.card_body{
    padding: 15px 20px 20px;
}

.card_title{
    font-size: 20px;
    font-weight: 500;
    color: #333;
}

